:root { 
--gray_50_01:#fafafa; 
--blue_gray_900_19:#292d3219; 
--deep_purple_A200_19:#7b61ff19; 
--red_300:#f87777; 
--red_500:#f24646; 
--blue_A200:#5282ff; 
--gray_50:#fbfbfd; 
--gray_900_19:#17191c19; 
--light_green_700_19:#5eb73419; 
--black_900:#000000; 
--light_green_700:#5eb734; 
--gray_500_01:#999ca0; 
--purple_A400:#d60cd0; 
--purple_A200:#fd1ff6; 
--deep_purple_A200:#7b61ff; 
--blue_gray_900:#292d32; 
--blue_gray_900_87:#292d3287; 
--purple_500_19:#c504bf19; 
--purple_500:#c504bf; 
--gray_900_26:#17191c26; 
--gray_500:#979797; 
--red_500_19:#f2464619; 
--gray_900:#17191c; 
--gray_200:#ededed; 
--gray_100:#f3f3f4; 
--white_A700_87:#ffffff87; 
--white_A700_00:#ffffff00; 
--purple_A200_19:#fd1ff619; 
--gray_900_7f:#17191c7f; 
--blue_400:#4e8eda; 
--blue_gray_900_99:#292d3299; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
}